@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body
{
margin: 0;
font-family: 'Lato', sans-serif;
background-color: #010020;
}

                                                                     /*ESTIL HEADER*/

nav
{
margin: 0;
display: flex;
justify-content: space-around;
align-items: center;
padding-left: 20px;
padding-right: 20px;
height: 100px;
font-weight: bold ;
}

nav ul li
{
display: inline;
color: white;
padding: 30px;
}

a
{
text-decoration: none;
}

.buttongreen
{
color: green;
border-right: 1px solid white;
}


/*laurap*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.buttonHit {
    width: 400px;
    height:400px;
    background-color: #333131;
    padding: 16 px;
    border-radius: 50%;
    font-size: 61px;
    line-height: 62px;
    align-content: center; 
    color: #a19c9c;
    border-style: solid;
    border-width: 1px;
    border-color: #555555;
    cursor: pointer;
    filter:drop-shadow(8px 8px 22px #000000);
    transition: box-shadow, 0.5s;
    }

    .buttonHit:hover {
        background-color: #222020;
        box-shadow: inset 0px 0px 30px #383838;
    }

    .buttonHit:active {
        background-color: rgb(27, 27, 27);
    }

    /*foot*/
    
.contenedor_footer{
display: flex;
flex-direction: column;
align-items: center;
}

h1{
    color: #fff;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: -10px;
    color: #fff;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: .5;
    color: #fff;

}

.boton_footer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 15px;
    padding-top: 15px;
    flex-direction: column;
    border-radius: 80px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: #FFFFFF; 
    transition: all, 0.50s;
}

.boton_footer:hover{
    background-color: #bb01f3;
    color: #fff;
    border-radius: 80px;
    border-style: solid; 
    border-color: #bb01f3;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}


.boton_footer:active{
    background-color: #720488;
    border-color: #720488;
    color: #ffff;
}