@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body
{
margin: 0;
font-family: 'Lato', sans-serif;
background-color: #010020;
}

                                                                     /*ESTIL HEADER*/

.logo:hover{
    cursor: pointer;
}

header
{
display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
width: 100%;
font-weight: bold ;
}

nav ul li
{
display: inline;
color: white;
padding: 30px;
}

a
{
text-decoration: none;
}

.buttongreen
{
color: green;
border-right: 1px solid white;
}

li:hover{
color: #01F382;
}

                                                                     /*ESTIL MAIN*/


main{
color: #FFFFFF;
margin-top: 100px;
display: flex;
justify-content: space-around;
align-items: flex-start;
height: 600px;
width: 100%;
}
                                                                     /*TEXT CENTRAL*/
.maintextesquerra {
flex-direction: column;
font-size: 20px;
}

.maintextmusicfor {
font-size: 3.25em;
font-weight: 700;
}

.maintexteveryone {
color: #FFFFFF;
font-size: 3.25em;
font-weight:700;
margin-top: -10px;
}

.maintextsmall {
margin-top: 20px;
font-size: 0.8em;
opacity: 0.3;
}
                                                                     /*BOTÓ CENTRAL*/
.button_hitthe {
color: #FFFFFF;
background-color: #01F382;
width: 220px;
height: 60px;
font-weight:bold;
font-size: 1em;
border-radius: 45px;
border-color: #01F382;
border-style: solid;
text-decoration: none;
margin-top: 40px;
transition: all 0.20s;
}

.button_hitthe:hover{
background-color: #bb01f3;
border-color: #bb01f3;
width: 100%;
cursor: pointer;
}

.button_hitthe:active{
background-color: #720488;
border-color: #720488;
border-style:inherit;
transition: none;
}
                                                                     /*IMATGE CENTRAL*/
.mainimatge {
display: flex;
align-items: center;
justify-content: center;
position: relative;                /*NECESSARI PEL RESPONSIVE DELS BOTONS*/
}

main img {
filter:drop-shadow(8px 8px 12px #000000);
width: 100%;
min-width: 400px;
height: auto;
}
                                                                     /*OMBRA BLANCA IMATGE CENTRAL*/
.mainwhiteshadow {
background-color: #010020;
width: 40%;
height: 85%;
position: absolute;
border-radius: 50%;
filter:drop-shadow(0px -20px 50px #debee5);
z-index: -1;  
}


                                                                     /*PADS*/


main a{
position: absolute;             /*NECESSARI PEL RESPONSIVE DELS BOTONS*/
height: 100%;
width: 100%;
}

.mainimatge button {
background-color:transparent;
background-color: transparent;
border-color: transparent;
}

.mainimatge button:hover {
background-color: #000000;
border-color: #460253;
border-style: solid; 
cursor: pointer;
box-shadow:
inset 0px 0px 15px #720488,
0px 0px 15px #d5a3df;
}

.mainimatge button:active {
background-color: #000000;
border-color: #460253;
border-style: solid; 
box-shadow:
inset 0px 0px 25px #720488,
0px 0px 15px #d5a3df;
}

.PADBIG_1 {
z-index: 1;
display: inline-block;
position: absolute;
background-color:transparent;
border-color: transparent;    
border-radius: 50%;
width: 20%;
height: 28.5%;
margin: 37% 0 0 15.5%;
}

.PADBIG_2 {
z-index: 1;
position: absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
width: 20%;
height: 28.5%;
margin: 11.2% 0 0 27.5%;
}

.PADBIG_3 {
z-index: 1;
position:absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
width: 20%;
height: 28.5%;
margin: 11.2% 0 0 51.5%;
}

.PADBIG_4 {
z-index: 1;
position: absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
width: 20%;
height: 28.5%;
margin: 37% 0 0 63.7%;
}

.PADSMALL_1 {
z-index: 1;
position: absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
height: 20.1%;
width: 14.2%;
margin: 4.7% 0 0 2.5%;
}

.PADSMALL_2 {
z-index: 1;
position: absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
height: 20.1%;
width: 14.2%;
margin: 20.4% 0 0 10%;
}

.PADSMALL_3 {
z-index: 1;
position: absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
height: 20.1%;
width: 14.2%;
margin: 20.4% 0 0 74.7%;
}

.PADSMALL_4 {
z-index: 1;
position: absolute;
background-color:transparent;
border-color: transparent;
border-radius: 50%;
height: 20.1%;
width: 14.2%;
margin: 4.7% 0 0 82.4%;
}


                                                                     /*ESTIL FOOTER*/

.contenedor_footer{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

h1{
color: #fff;
font-size: 30px;
}

p{
display: flex;
justify-content: center;
font-size: 18px;
margin-top: -10px;
color: #fff;
flex-direction: column;
opacity: 0.3;
color: #fff;
}

.boton_footer{
display: flex;
justify-content: center;
font-size: 20px;
margin-top: 15px;
padding-top: 15px;
flex-direction: column;
border-radius: 80px;
font-weight: bold;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 30px;
border-style: solid;
background-color: #FFFFFF;
border-color: #FFFFFF; 
transition: all, 0.20s;
}

.boton_footer:hover{
background-color: #bb01f3;
color: #fff;
border-radius: 80px;
border-style: solid; 
border-color: #bb01f3;
cursor: pointer;
padding-left: 40px;
padding-right: 40px;
}


.boton_footer:active{
background-color: #720488;
border-color: #720488;
color: #ffff;
transition: none;
}